<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <div class="logo">Portfolio</div>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section" id="home-section">
            <h1 class="home-heading">Welcome To The Portfolio <br>Of Future</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. voluptas?</p>
        </section>

        <section class="section">

        </section>
    </main>
    <footer></footer>
</body>
</html>