* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #255F38;
    height: 60px;
    align-items: center;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #1F7D53;
    font-size: 20px;
    font-weight: bold;
    transition: 1s color;
}

nav ul li a:hover {
    color: white;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.section {
    height: 100vh;
    background: #27391C;
}

#home-section {
    position: absolute;
    top: 50vh;
    left: 40px;
}

.home-heading {
    color: white;
    font-size: 30px;
}